# RStudio files

.Rproj.user
.Rhistory
.RData
.Ruserdata
*.nb.html

# Compiled packrat libraries

packrat/lib*/

# Environmental variables

GITHUB_PAT
.Renviron

# Ignore files created by tests

tests/testthat/figures/test_figure*_test.png
tests/testthat/testdata/mtcars.Rds
tests/testthat/testdata/test_output*
._*
.~*
*.swp

inst/GVA_by_sector.Rds
